<html ng-app="myapp">
<head>
  <title>Angular Extension Registry</title>
  <!-- google fonts -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- layout engine -->
  <link rel="stylesheet" href="../../bower_components/layout.attrs/dist/layout.attrs.css" />
  <!-- theme -->
  <link rel="stylesheet" href="./style.css" />
  <style>
    [outline] {
     outline: 1px solid #DDD;
    }
    extension-renderer {
      /*outline: 1px dashed #990000; */
      background-color: #EDBCBC;
    }
    .card {
      padding: 10px;
      margin: 10px;
      border: 1px solid #cecece;
      background: #fff;
      box-shadow: 0px 0px 3px 1px #cecece
    }
    .card-grey {
      background: #F7F7F7;
    }
    .friend {
      font-size: 11px;
    }
  </style>
</head>
<body fit height-max class="bg-gray-lt font-roboto text-gray-dk">

  <div fit scrollable layout column outline>

    <div layout axis="center center" outline class="bg-white shadow-bottom-sm pad-lg">
      <strong>Angular Extension Registry: Demo</strong>
    </div><!-- /heading -->

    <div flex layout row mobile="column" outline>

      <div flex shrink="3" outline>

       <div class="pad-md">left sidebar</div>

      </div><!-- /sidebar left -->

      <div flex layout row grow="3" tablet="column" mobile="column">

        <div flex layout column scrollable outline class="pad-md">

          <div class="pad-md">center column</div>

          <div ng-controller="controller.things">

            <div layout column ng-repeat="item in items" class="card">
              <div layout row>
                <div class="pad-sm">
                  <img ng-src="{{item.picture}}" />
                </div>
                <div flex layout column class="pad-sm">
                  <div>name: {{item.name.first}} {{item.name.last}}</div>
                  <div>company: {{item.company}}</div>
                  <div>email: {{item.email}}</div>
                  <h4>Extension Example:</h4>
                  <div layout row tablet="column" mobile="column">
                    <div ng-repeat="friend in item.friends" flex class="card card-grey friend">
                      <div>name: {{friend.name.first}}</div>
                      <div
                        extension-point
                        extension-name="thing"
                        extension-types="text link"
                        extension-args="friend"
                        extension-limit="2"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <h4>Extension Example 2:</h4>
                <div
                  extension-point
                  extension-name="thing"
                  extension-types="text link select html"
                  extension-args="item"></div>
              </div>
            </div>

          </div>

        </div><!-- /main right -->

      </div><!-- /main -->


      <div flex conceal="mobile tablet" outline>

       <div class="pad-md">right sidebar, mobile/tablet hidden</div>

      </div><!-- /sidebar right -->

    </div>

    <div
      layout row
      axis="center center"
      outline
      class="bg-white shadow-sm pad-lg">

      <div>footer</div>

    </div>
 </div><!-- /outer wrapper -->





<!-- vendor -->
<script src="../../bower_components/angular/angular.js"></script>
<script src="../../bower_components/angular-sanitize/angular-sanitize.js"></script>
<!-- angular-extension-manager components
<script>console.warn('using unminified');</script>
<script src="../../src/extension-registry.js"></script>
<script src="../../src/constants/extension-registry-utils.js"></script>
<script src="../../src/services/extension-input-provider.js"></script>
<script src="../../src/directives/extension-point.js"></script>
<script src="../../src/directives/extension-renderer.js"></script>
<script src="../../dist/compiled-templates.js"></script>
 -->
<!-- minified -->
<script>console.info('using minified');</script>
<script src="../../dist/angular-extension-registry.js"></script>
<script src="../../dist/compiled-templates.js"></script>

<!-- app usage -->
<script src="./myApp.js"></script>
<script src="./myApp.things.js"></script>
<script src="./extensions/extension.1.js"></script>

</body>
</html>
